html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Minimum height to fill the viewport */
}

header {
    background-color: white; /* Fond du header en blanc (à personnaliser) */
    padding: 20px;
    width: 2vw; /* Largeur réduite du header */
    box-shadow: 10px 0px 5px gray;
    position: fixed; /* Position fixe pour le header */
    top: 0;
    left: 0;
    bottom: 0; /* S'étend jusqu'en bas de la page */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre verticalement le contenu du header */
}

header ul {
    list-style: none;
    padding: 0;
}

header ul li {
    margin-bottom: 15px; /* Espacement supplémentaire entre les boutons */
}

header ul li a {
    display: flex; /* Permet d'aligner l'icône au centre */
    align-items: center; /* Alignement vertical au centre */
    text-decoration: none;
    color: black; /* Texte du bouton (à personnaliser) */
    transition: transform 0.5s;
}

header ul li a:hover {
    transform: scale(2); /* Agrandit les boutons par deux au survol */
}

header ul li a.clicked {
    transform: scale(0.75); /* Réduit la taille du bouton */
}

main {
    text-align: center;
    border: 1px solid white;
    flex-grow: 1; /* Pour pousser le contenu vers le bas */
    margin-left: 4vw; /* Marge à gauche pour éviter de chevaucher le header */
}

.ma-section {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
}

.div1 {
    position: absolute; /* Position absolue pour la première div */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: lightblue;
    opacity: 0.7;
}

.div2 {
    position: absolute; /* Position absolue pour la deuxième div */
}

.bulles-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: lightblue; /* Couleur de fond de la section */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bulle {
    position: absolute;
    border-radius: 50%; /* Pour créer une forme de cercle */
}

/* Style pour le texte */
.texte {
    margin-top: 20px; /* Espacement du texte par rapport à l'image */
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    /* Autres styles de texte */
}

#certif, #project {
    border: 2px solid white;
    height: 100vh;
    display: flex;
    flex-direction: column; /* Pour empiler le titre et la grille verticalement */
    justify-content: center; /* Centre verticalement */
    align-items: center; /* Centre horizontalement */
    text-align: center; /* Centre le texte à l'intérieur de la section */
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Deux éléments par ligne */
    gap: 20px; /* Espacement entre les cartes */
    padding: 20px;
}

.card {
    width: 300px; /* Définissez la largeur de la carte selon vos besoins */
    border: 1px solid #ccc; /* Ajoutez une bordure */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ajoutez une ombre */
    margin: 20px; /* Ajoutez une marge */
    overflow: hidden; /* Cachez le débordement des éléments enfants */
    border-radius: 4px; /* Ajoutez un rayon de bordure */
}

.card-img-top {
    background-image: url("..."); /* Ajoutez votre image de fond */
    background-size: cover; /* Ajustez la taille de l'image de fond */
    background-color: gray;
    height: 150px; /* Définissez la hauteur de l'image de fond */
}

.card-body {
    padding: 20px; /* Ajoutez de la marge intérieure */
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 16px;
    margin-bottom: 10px;
}

.text-muted {
    font-size: 14px;
    color: #999;
}

footer {
    background-color: black; /* Fond noir pour le footer */
    color: white; /* Texte en blanc */
    text-align: center;
    padding: 3vw;
    margin-left: 3vw;
    display: flex; /* Utilisation de flexbox pour aligner les sections horizontalement */
    justify-content: space-around; /* Répartir l'espace entre les sections */
}

.footer-section {
    flex: 1; /* Chaque section du footer occupera une part égale de l'espace disponible */
    max-width: 25%; /* Vous pouvez ajuster la largeur maximale ici */
    text-align: left; /* Aligner le texte à gauche dans chaque section */
    padding: 0 10px; /* Espacement intérieur pour chaque section */
}

.footer-section h3 {
    font-size: 18px; /* Taille de police pour les titres */
    margin-bottom: 10px; /* Espacement sous les titres */
    color: white; /* Couleur du texte des titres */
}

.footer-section ul {
    padding: 0; /* Supprimer la marge intérieure de la liste */
}

.footer-section ul li {
    margin-bottom: 5px; /* Espacement entre les éléments de la liste */
    color: white; /* Couleur du texte des éléments de liste */
}

.footer-section a {
    color: white; /* Couleur du lien */
    text-decoration: none; /* Supprimer la décoration du lien */
}

.footer-section a:hover {
    text-decoration: underline; /* Ajouter une soulignement au survol du lien */
}

#scrollToTopBtn {
    display: none; /* Masquez le bouton au départ */
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007BFF; /* Couleur de fond du bouton (à personnaliser) */
    color: white; /* Couleur du texte (à personnaliser) */
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

#scrollToTopBtn:hover {
    background-color: #0056b3; /* Couleur de fond au survol (à personnaliser) */
}

.divider {
    width: 100px;
    border: 1px solid black;
}